.list {
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 0;
}

.statistics {
  width: 300px;
  text-align: center;
}

.title {
  width: 308px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  margin-bottom: 0;
}

.item {
  border: 1px solid black;
  width: 60px;
  height: 30px;
}
