.transactionHistory {
  width: 800px;
  height: 1000px;
  text-align: center;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.thead {
  background-color: rosybrown;
  text-transform: uppercase;
}

.grey:not(:nth-child(2n)) {
  background-color: grey;
}
